.page {
    width: 100%;
    min-width: 320px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    color: #FFFFFF;
    user-select: none;
    background: rgba(32, 32, 32, 1);
    display: flex;
    flex-direction: column;
    height: 100vh;
}