.navigation{
    display: flex;
    width: 100%;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .navigation{
        //width: 100%;

    }
}
@media screen and (max-width: 500px) {
    .navigation{
        width: 88%;

    }
}