.navigation{
    display: flex;

    width: 26%;
}
@media screen and (max-width: 768px) {
    .navigation{
        width: 42%;
        justify-content: center;
    }
}
@media screen and (max-width: 500px) {
    .navigation{
        width: 88%;
        justify-content: center;
    }
}