.header{
    display: flex;
    //justify-content: space-between;
    width: 89%;
    padding-top: 18px;
}
.header__container{
    width: 100%;
    display: flex;
}
.header__logo{
    width: 38px;
    height: 38px;
    background: url(../../images/logo.svg) no-repeat center;
    background-size: contain;
    transition: opacity 0.4s ease;
    border-radius: 7px;
    margin-right: 44px;
    min-width: 38px;
}
@media screen and (max-width: 768px) {
    .header{
        width: 92%;
        padding-top: 18px;
    }
}
@media screen and (max-width: 320px) {
    .header{
        display: flex;
        //justify-content: space-between;
        width: 91%;
        padding-top: 16px;
    }
    .header__container{
        width: 100%;
        display: flex;
    }
    .header__logo{
        width: 38px;
        height: 38px;
        background: url(../../images/logo.svg) no-repeat center;
        background-size: contain;
        transition: opacity 0.4s ease;
        border-radius: 7px;
        margin-right: 0px;
    }
}